@page
@model WebAppDemo.Pages.Classes.IndexModel
@{
    ViewData["Title"] = "Classes";
}

<h1>Manage Classes Stored in the Database</h1>

<div class="alert alert-info" role="alert">
    <p>Add, update, and delete classes.</p>
    <p>You can also export all classes to a comma separated value (CSV) file and import classes with a CSV file.</p>
</div>

<p role="group" aria-label="Class management actions">
    <a asp-page="./Create" class="btn btn-primary" role="button">Create New</a>
    <a asp-page="./Import" class="btn btn-secondary" role="button">Import</a>
    <a asp-page="./Export" class="btn btn-secondary" role="button">Export</a>
    <a asp-page="./DeleteAll" class="btn btn-danger" role="button">Delete All</a>
</p>

@if (Model.Classes.Count == 0)
{
    <p>No classes scheduled.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="sortable" tabindex="0">Class Name</th>
                <th class="sortable" tabindex="0">Class Description</th>
                <th class="sortable" tabindex="0">Units</th>
                <th class="sortable" tabindex="0">Quarter</th>
                <th class="not-sortable"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classItem in Model.Classes)
            {
                <tr>
                    <td>@classItem.ClassName</td>
                    <td>@classItem.ClassDescription</td>
                    <td>@classItem.Units</td>
                    <td>@classItem.Quarter</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@classItem.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@classItem.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}