@page
@model WebAppDemo.Pages.Classes.IndexModel
@{
    ViewData["Title"] = "Classes";
}

<h1>Classes</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
    <a asp-page="./Import" class="btn btn-secondary">Import</a>
    <a asp-page="./Export" class="btn btn-secondary">Export</a>
    <a asp-page="./DeleteAll" class="btn btn-danger">Delete All</a>
</p>

@if (Model.Classes.Count == 0)
{
    <p>No classes scheduled.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Class Description</th>
                <th>Units</th>
                <th>Quarter</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classItem in Model.Classes)
            {
                <tr>
                    <td>@classItem.ClassName</td>
                    <td>@classItem.ClassDescription</td>
                    <td>@classItem.Units</td>
                    <td>@classItem.Quarter</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@classItem.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@classItem.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
